@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  color: white;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(244, 38%, 16%);
  width: 1000px;
  display: flex;
  border-radius: 1rem;
}

.info {
  margin: 1rem;
  padding: 1rem;
}

.summary {
  margin: 1rem;
  padding: 1.5rem;
}

.summary h1 {
  padding-right: 2rem;
  margin-bottom: 1.5rem;
}

.summary p {
  font-size: 0.8rem;
  line-height: 1.8;
  color: hsla(0, 0%, 100%, 0.75);
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.summary span {
  color: hsl(277, 64%, 61%);
}

.content {
  display: flex;
  line-height: 1.5;
  padding-left: 2.5rem;
}

.content p {
  font-size: 0.8rem;
  color: hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
}
.content span {
  text-transform: uppercase;
}
.text1,
.text2,
.text3 {
  padding-right: 3rem;
}

.card {
  width: 100%;
  background-color: hsl(277, 64%, 61%);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  mix-blend-mode: multiply;
}
